<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ page.description }}">

    {% if page.css %}
        <link rel="stylesheet" href="{{ page.css | relative_url }}">
    {% endif %}

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ProfilePage",
            "mainEntity": {
                "@type": "Person",
                "name": "Myst1cS04p",
                "alternateName": "Muhammad Salahuddin Naushad",
                "description": "DEVELOPER | SYSTEMS THINKER | PROTOTYPE ALCHEMIST",
                "image": "https://myst1cs04p.github.io/assets/img/profile.png",
                "sameAs": [
                    "https://hangar.papermc.io/Myst1cS04p",
                    "https://www.spigotmc.org/members/myst1cs04p.2400217/",
                    "https://modrinth.com/user/myst1cs04p",
                    "https://myst1cs04p.itch.io/",
                    "https://www.linkedin.com/in/myst1cs04p/",
                    "https://github.com/Myst1cS04p/"
                ]
            }
        }
    </script>

    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
</head>

<body>
    <div class="section-wrapper">    
        <main>{{content}}</main>
    </div>
</body>

</html>